*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80vw;
    height: 80vh;
    background-color: #97d6d6;
    padding: 20px;    
    margin: auto;
    display: flex;
    gap: 2rem;
}
.box{
    width: 200px;
    height: 200px;
    padding: 40px;
    border-radius: 10px;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
    color: white;
    align-self: center;
}
.green{
    background-color: green;
    align-self: flex-end;
}